.navList {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}
.navList li a {
  padding: 20px;
}

.NavLink {
  text-transform: uppercase;
}

.NavLinkActive {
  color: blueviolet;
}
